spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: 0987654321qa
    url: jdbc:mysql://127.0.0.1:3306/liveowl
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
server:
  port: 9090

jwt:
  privatekey: drOdeg2KBggaSeQPl+T2V/WuQoNnVvhkwj03x/pb9z8=


